<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	   					   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	   					   http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

	<!-- C3P0 Datasource, uncomment it if you want C3P0 datasource -->
<!-- 	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" -->
<!-- 		destroy-method="close"> -->
<!-- 		<property name="driverClass" value="${jdbc.driverClass}" /> -->
<!-- 		<property name="jdbcUrl" value="${jdbc.url}" /> -->
<!-- 		<property name="user" value="${jdbc.user}" /> -->
<!-- 		<property name="password" value="${jdbc.password}" /> -->
		<!-- c3p0 pooling -->
<!-- 		<property name="minPoolSize" value="${c3p0.min_size}" /> -->
<!-- 		<property name="maxPoolSize" value="${c3p0.max_size}" /> -->
<!-- 		<property name="maxStatements" value="${c3p0.max_statements}" /> -->
		<!-- Use to refresh connection -->
		<!-- Value has to be inferior to the database timeout -->
<!-- 		<property name="idleConnectionTestPeriod" value="${c3p0.idle_test_period}" /> -->
<!-- 	</bean> -->
	
	<!-- In memory database, comment it if you want to use C3P0 datasource -->
	<jdbc:embedded-database id="dataSource">
		<jdbc:script location="classpath:persistence/schema-hsqldb.sql"/>
	</jdbc:embedded-database>

	<!-- MyBatis -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Transaction manager -->
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- enable the configuration of transactional behavior based on annotations -->
	<tx:annotation-driven transaction-manager="txManager" />


</beans>
